*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
  
}
#main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.cursor{
  height: 40px;
  width: 40px;
  background-color: wheat;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  transition: all 0.2s ease;
}
h1{
  font-family: sans-serif;
  font-size: 90px;
  font-weight: 800;
}